<div class="position-absolute top-50 start-50 translate-middle {{if this.isHidden "visually-hidden" ""}}">
  <div class="input-group mb-3">
    <input
      type="text"
      class="form-control"
      placeholder="Search"
      aria-label="Search"
      aria-describedby="search-addon"
      {{on "keypress" (fn this.onKeypress this.searchEngineUrl)}}
    />
    <span class="input-group-text" id="search-addon">
      <Icons::ArrowReturnLeft/>
    </span>
  </div>
</div>
