<div class='position-absolute top-50 start-50 translate-middle'>
  <div class='input-group mb-3'>
    <input
      type='text'
      class='form-control'
      placeholder='Search'
      aria-label='Search'
      aria-describedby='basic-addon2'
      data-search-engine-url={{this.searchEngineUrl}}
      {{on 'keypress' this.onKeypress}}
    />
    <span class='input-group-text' id='basic-addon2'>
      <Icons::ArrowReturnLeft/>
    </span>
  </div>
</div>
