{{page-title 'Home'}}

<div
  class='route-container'
  {{prop style=this.background}}
>
  <nav class="navbar navbar-light navbar-expand-lg home-navbar">
    <LinkTo @route="settings" class="settings-link">
      <Icons::Gear/>
    </LinkTo>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item active"><TimeDisplay/></li>
      </ul>
    </div>
  </nav>

  <SearchBar @searchEngineUrl={{@model.searchEngineUrl}} />
  {{outlet}}
</div>
