{{page-title "Home"}}

<div class="route-container" style="background: url({{this.backgroundImgUrl}});">
  <nav>
    <LinkTo @route="settings" >Settings</LinkTo>
  </nav>

  <SearchBar />
  {{outlet}}
</div>
