{{page-title "Settings" prepend=false}}

<div class="route-container">
  <LinkTo @route="home" class="btn btn-outline-dark">
    <Icons::ArrowLeft class="align-text-bottom" />
    Home
  </LinkTo>

  <div class="container">
    <h1>Settings</h1>

    <SettingsForm @settings={{@model}} />
  </div>
  {{outlet}}
</div>
